<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test name="Test1">
        <classes>
            <class name="tests.Futter.Citrus.Citrus1Carier"></class>
            <class name="tests.Futter.Citrus.Citrus2ForSMI"></class>
            <class name="tests.Futter.Citrus.Citrus3News"></class>
            <class name="tests.Futter.Citrus.Citrus4BlackFriday"></class>
            <class name="tests.Futter.Citrus.Citrus5Blog"></class>
            <class name="tests.Futter.Citrus.Citrus6AboutCompany"></class>
            <class name="tests.Futter.Citrus.Citrus7OPTClients"></class>
            <class name="tests.Futter.Citrus.Citrus8Supports"></class>
            <class name="tests.Futter.Citrus.Citrus9Stores"></class>
            <class name="tests.Futter.Citrus.Citrus10B2B"></class>


        </classes>
    </test>
</suite>















